.image-container {
  // border: 1px solid rgb(2, 241, 46);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  //   padding-top: 0;
  margin-top: -125px;
  // max-width: 100%;
  .img-phones {
    padding-bottom: 91px;
    // max-width: 450px;
    width: 100%;
  }
  .line-break-div {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .line {
      //max width does not work
      // position: absolute;
      width: 50%;
      // border: 1px solid red;
    }
  }
  .app-works-para {
    // border: 1px solid red;
    max-width: 425px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    /* identical to box height, or 82% */

    letter-spacing: 0.1px;
    text-align: center;
    // align-items: center;

    color: black;
    padding-top: 42px;
  }
}

@media (max-width: 768px) and (min-width: 350px) {
  .image-container {
    //   border: 1px solid rgb(2, 241, 46);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    //   padding-top: 0;
    margin-top: -155px;
    //   width: 100vw;
    max-width: 100%;
    .line-break-div {
      // border: 1px solid black;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
      .line {
        //max width does not work
        // position: absolute;
        width: 99%;
        // border: 1px solid red;
      }
    }
    .app-works-para {
      max-width: 242px;
      height: 36px;
      // border: 1px solid red;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 0.1px;

      color: #000000;

      padding-top: 42px;
    }
  }
}
