.download-section {
  // position: relative;
  // width: 1440px;
  // border: 1px solid red;
  height: 719px;
  background-image: url("../images/download.png");
  /* Position and center the image to scale nicely on all screens */
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 616px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.download-section-Centre-Text-div {
  border: 1px solid blue;
  display: flex;

  // position: absolute;
  // top: 45%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  // width: 100vw;
  h2 {
    border: 1px solid black;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    // margin-top: 73px;
    max-width: 503px;
  }
  h4 {
    border: 1px solid black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    margin-top: 1px !important;
    max-width: 840px;

    // margin-top: 1px !important;
    /* identical to box height, or 158% */

    text-align: center;

    letter-spacing: 0.2px;
  }
}

.download-section-button-container {
  // border: 1px solid orange;
  // display: flex;
  // flex-direction: row;

  // width: 600px;
  // height: 68px;
  // // border: 1px solid black;
  // justify-content: space-around;
  // // align-items: center;
  // // padding-left: 20%;
  // // padding-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  gap: 2%;
}

.download-section-button-container button {
  // margin-top: 1px;
  // margin-bottom: 1px;
  background-color: transparent;
  // border-color: white;
  border: 2px solid white;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  height: 68px;
  width: 236px;
  // transition-duration: 0.2s;
  cursor: pointer;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
// .btn1 {
//   background-color: #fa4a0c;
//   color: white;
// }

.btn1:hover {
  background-color: #fa4a0c;
  border-color: #fa4a0c;
  color: white;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
}
