/* for navbar component globals */
.navbar {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 600;
  width: 100%;
}

.navbar {
  // border: 1px solid black;
  display: flex;

  height: 126px;
  // height: 110px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.nav_image {
  height: 101px;
}

.navbar {
  ul {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 94px;
  }
  li {
    list-style: none;
  }

  li:last-child {
    margin-right: 40px;
  }
}
