/* for navbar component globals */
.navbar {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 600;
  width: 100%;
}

.navbar {
  // border: 1px solid black;
  display: flex;

  height: 126px;
  // height: 110px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.nav_image {
  height: 101px;
}

.list_div {
  ul {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 94px;
  }
  li {
    list-style: none;
  }
}

.navbar-icon {
  display: none;
}

// @media only screen and (max-width: 768px) {

@media (max-width: 768px) and (min-width: 350px) {
  .navbar {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    width: 100%;
  }
  .list_div ul {
    display: none;
  }
  .logo_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
  }
  // .navbar {
  //   img {
  //     display: flex;
  //   }
  // }
  .navbar-icon {
    display: inline;
    margin: 50px 0;
  }

  a {
    display: none;
  }
  .menu {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    // overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 10%;
    top: 8%;
    z-index: 1;
    list-style: none;
    ul {
      padding-right: 4px;
      padding-left: 7px;
      list-style: none;
      // display: block;
      // gap: 10%;
      li {
        // padding: 2px;
        // margin: 6px;

        color: black;
        padding: 12px 16px;
        // text-decoration: none;
        // display: block;
      }
      li:hover {
        background-color: #ddd;
      }
    }
  }
}
