.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .signin-image {
    max-width: 350px;
    max-height: 650px;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  }
  .text-div {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-style: normal;

    h3 {
      max-width: 232px;
      height: 36px;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height, or 150% */
      letter-spacing: 0.1px;
      color: #fa4a0c;
    }
    h2 {
      max-width: 561px;
      height: 114px;
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
      /* or 142% */
      margin-top: 20px;
      margin-bottom: 1px;
      letter-spacing: 0.2px;
      /* text */
      color: #252b42;
    }
    h4 {
      max-width: 467px;
      height: 76px;
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      /* or 158% */
      margin-top: 10px;
      letter-spacing: 0.2px;
      color: #737373;
    }
  }
}

@media (max-width: 768px) and (min-width: 350px) {
  .container {
    margin-top: 150px;
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    .signin-image {
      margin-top: 100px;
      max-width: 95%;
      filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    .text-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat";
      font-style: normal;
      width: 100%;
      h3 {
        margin-top: -100px !important;
        text-align: center;
        width: 232px;
        height: 36px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */
        letter-spacing: 0.1px;

        color: #fa4a0c;
      }
      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        width: 300px;
        height: 200px;
        /* or 142% */
        letter-spacing: 0.2px;
        /* text */
        color: #252b42;
      }
      h4 {
        margin-top: -30px;
        padding-top: 0px;
        width: 257px;
        height: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        /* or 158% */
        letter-spacing: 0.2px;
        /* second text */
        color: #737373;
      }
    }
  }
}
