.varieties-section-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 806.99px;
  .varieties-section-image-div {
    padding-right: 70px;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  }
  .varieties-section-text-div {
    font-family: "Montserrat";
    font-style: normal;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.1px;
      color: #fa4a0c;
    }
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #252b42;
    }
    h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 0.2px;
      color: #737373;
    }
  }
}
